# Jupyter with PostgreSQL

## Libararies and Settings

In [7]:
# Variables
import config
import preprocessing_functions as pf

# Libraries
import pandas as pd




# Settings
import warnings
warnings.filterwarnings("ignore")

## Create database connection

In [8]:
#Connection using preprocessing function
pf.db_connect(config.db_name)

#Connection using explicit programming
#conn = psycopg2.connect("host=localhost dbname=postgres user=admin password=secret")

## Read data

In [9]:
# CSV-Datei mit den Daten
#csv_file = 'ausgabe.csv'

df = pd.read_csv(config.csv_file, sep=',')
df.head(5)

,weathercode_best_match,temperature_2m_max_best_match,temperature_2m_min_best_match,apparent_temperature_max_best_match,apparent_temperature_min_best_match,sunrise,sunset,uv_index_max_best_match,uv_index_clear_sky_max_best_match,precipitation_sum_best_match,...,apparent_temperature_min_meteofrance_seamless,precipitation_sum_meteofrance_seamless,snowfall_sum_meteofrance_seamless,precipitation_hours_meteofrance_seamless,windspeed_10m_max_meteofrance_seamless,windgusts_10m_max_meteofrance_seamless,winddirection_10m_dominant_meteofrance_seamless,shortwave_radiation_sum_meteofrance_seamless,et0_fao_evapotranspiration_meteofrance_seamless,AQI - BAFU
0,80,10.8,5.7,8.1,4.1,2023-04-08T06:49,2023-04-08T20:05,5.25,5.35,0.3,...,2.0,4.8,0.0,4.0,10.7,29.5,82,18.95,2.44,7
1,3,13.1,5.1,10.3,2.8,2023-04-09T06:47,2023-04-09T20:07,5.45,5.45,0.0,...,1.2,0.0,0.0,0.0,12.0,29.5,44,24.23,3.37,11
2,45,16.6,3.9,15.0,1.6,2023-04-10T06:45,2023-04-10T20:08,5.40,5.70,0.0,...,0.6,0.0,0.0,0.0,7.7,30.6,264,23.03,3.61,8
3,80,14.1,9.5,11.8,6.7,2023-04-11T06:43,2023-04-11T20:10,3.05,5.40,11.5,...,6.7,4.1,0.0,7.0,18.5,42.5,247,10.63,2.08,5
4,61,14.3,8.6,11.7,5.9,2023-04-12T06:41,2023-04-12T20:11,4.65,5.90,8.2,...,5.2,8.7,0.0,14.0,20.5,46.1,224,11.09,1.96,4

## Write data to database

In [10]:
#engine = create_engine('postgresql://admin:secret@localhost:5432/postgres')
df.to_sql(config.db_table, config.db_engine, if_exists='replace', index=False)

30

## Make SQL query

In [12]:
SQLquery = text('SELECT * FROM ' + config.db_table)

df_sub = pd.read_sql('SELECT * FROM ' + config.db_table, con=config.db_engine.connect())
df_sub.head()

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM AQI_RAW'

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
NT
Windows | 10
Datetime: 2023-05-09 18:50:14
Python Version: 3.10.9
-----------------------------------